<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/bookers/app/assets/stylesheets/application.css">
    <title>Bookers-new</title>
  </head>

  <body>
    <h2>Books</h2>


<%= form_with model: Book.new do |f| %>
  <h3>Title</h3>
  <%= f.text_field :title %>

  <h3>Body</h3>
  <%= f.text_area :body %>

  <%= f.submit 'Create Book' %>
<% end %>

</body>
</html>